.Button  {
    width: 30%;
    background-color: #47526F;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 16px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #E9E9E9;
}

.Danger {
    color: #944317;
}
