/* .Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
} */
.Button  {
    width: 30%;
    background-color: #47526F;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 16px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #E9E9E9;
}

/* .Danger {
    color: #944317;
} */