/* .Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: none;
    padding: 10px;
    box-sizing: border-box;
} */
.Auth {
    margin: 100px auto;
    /* width: 77%; */
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 2px solid #eee;
    padding: 25px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.pic1{
    width:60%
}
.switch{
    margin: 40px auto;
    margin-left: 20px;
    text-align: left;
    display: block;
}

.Auth a:hover {
    text-decoration: none;
}
@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}